
TP2Graficos-TomásMugetti/Debug/

TP2Graficos-TomásMugetti/TP2Graficos-TomásMugetti/Debug/

TP2Graficos-TomásMugetti/TP2Graficos-TomásMugetti/Release/

TP2Graficos-TomásMugetti/TP2Graficos-TomásMugetti/x64/Debug/

TP2Graficos-TomásMugetti/TP2Graficos-TomásMugetti/x64/Release/

TP2Graficos-TomásMugetti/x64/Debug/

TP2Graficos-TomásMugetti/x64/Release/

*.db
